# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
charset = utf-8
indent_size = 2
trim_trailing_whitespace = true

[*.{js,ts,jsx,tsx}]
indent_size = 2

[*.vue]
indent_size = 2

[Makefile]
indent_style = tab

[docs/makefiles/*]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2

[.github/workflows/*.yml]
indent_size = 2

[{composer.json,composer.lock}]
indent_size = 4

[*.php]
indent_size = 4

[*.{css,scss}]
indent_size = 2

[*.json]
indent_size = 2
