@import "tailwindcss";

@source ".";
@source "../../src";

@import "../../.storybook/fontello/index.css";

@import "../../src/tailwind/index.css";
@import "../../src/tailwind/prose.css";

html {
  font-size: 16px;
  line-height: 24px;
  color-scheme: normal;
}
body {
  @apply bg-gray-0 text-gray-7 font-sans;
}
